body {
  font-family: "Poppins", sans-serif;
  position: relative;
  height: auto;
  min-height: 100% !important;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Nunito', sans-serif;  
  font-size: 48px;
}

h2 {
  font-family: 'Nunito', sans-serif;  
  font-size: 38px;
}

#category {
  font-family: 'Nunito', sans-serif;  
  font-weight: 400;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #243d68 !important;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

#landing-intro {
  background-color: #243d68;
  width: 100%;
  height: 100vh;
}
